@font-face {
  font-family: vazir;
  src: url(../assets/fonts/vazir/Vazir.ttf) format("truetype");
  src: url(../assets/fonts/vazir/Vazir.woff) format("woff");
}
:root {
  --color: #fff;
  --body-background: #ffffffe5;
  --contents-backgroundColor: #ae00ff;
  --alert: #ff0000;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  outline: 0;
  user-select: none;
}
body {
  background: var(--background-body);
  font-family: vazir;
}
.content {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header {
  background-color: #00a2ff42;
}
nav ul {
  width: 280px;
  margin: 0 auto;
  padding: 10px 0;
  position: relative;
}

nav ul span {
  width: 150px;
  border: 3px solid #ff411f;
  bottom: 7px;
  right: 10px;
  position: absolute;
  transition: all 0.3s;
}
nav ul.active span {
  width: 84px;
  transform: translateX(-173px);
}
nav ul li {
  display: inline-block;
  margin: 0 10px;
}
nav ul li button {
  padding: 5px 10px;
  font-size: 16px;
  border: 0;
  cursor: pointer;
  font-family: vazir;
}

nav ul li button.active {
}
main {
  width: 100%;
  gap: 40px;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container {
  max-width: 1366px;
  margin: 0 auto;
}
.alert {
  padding: 10px 15px;
  border-radius: 20px 0 0 20px;
  width: 0;
  right: 50px;
  top: 100px;
  display: none;
  white-space: nowrap;
  position: fixed;
  overflow: hidden;
  background-color: var(--alert);
  color: var(--color);
}

.alert.active {
  display: block;
  width: max-content;
  animation: alert 0.3s ease;
}
@keyframes alert {
  from {
    width: 0;
  }
  to {
    width: 289px;
  }
}
.answerUnitContainer {
  width: 100%;
  padding: 10px;
  max-width: 400px;
  border-radius: 20px;
  background-color: var(--contents-backgroundColor);
  color: var(--color);
}
.answerUnitText {
  gap: 10px;
  font-size: 20px;
  margin: 0 auto;
  display: none;
  justify-content: center;
  font-family: vazir;
}
.answerUnitText.active {
  display: flex;
}
.metrContainer {
  max-width: 800px;
  padding: 10px 10px;
  font-size: 20px;
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: var(--contents-backgroundColor);
  color: var(--color);
  font-family: vazir;
}
.metrContainer.active {
  display: flex;
}
.inputsUnit {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
}
.inputsUnit div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.inputsUnit input {
  font-size: 20px;
  width: 100%;
  outline: 0;
  border: 0;
  border-radius: 20px;
  padding: 5px 20px;
  font-family: inherit;
  transition: all 0.3s ease;
  direction: ltr;
}
.inputsUnit input::-webkit-inner-spin-button {
  display: none;
}

.inputsUnit select {
  font-size: 20px;
  width: 100%;
  outline: 0;
  border: 0;
  border-radius: 20px;
  padding: 5px 10px;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.3s ease;
}
.inputsUnit select:hover {
  box-shadow: 0 0 10px #000;
}

.answerBtn {
  padding: 10px 20px;
  border-radius: 20px;
  border: 0;
  background: var(--color);
  font-size: 20px;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.3s ease;
}
.answerBtn:hover {
  box-shadow: 0 0 15px 2px #00000086;
}
.answerBtn:active {
  box-shadow: 0 0 10px #000000c2;
  transition: all 0.001s;
}
@media screen and (max-width: 500px) {
  .inputsUnit {
    flex-direction: column;
  }
}
.kGContainer {
  max-width: 800px;
  padding: 10px 10px;
  font-size: 20px;
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: var(--contents-backgroundColor);
  color: var(--color);
  font-family: vazir;
}
.kGContainer.active {
  display: flex;
}
.answerBtnKG {
  padding: 10px 20px;
  border-radius: 20px;
  border: 0;
  background: var(--color);
  font-size: 20px;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.3s ease;
}
.answerBtnKG:hover {
  box-shadow: 0 0 15px 2px #00000086;
}
.answerBtnKG:active {
  box-shadow: 0 0 10px #000000c2;
  transition: all 0.001s;
}
